@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap');

body {
    font-family: "Nunito", sans-serif;
    color: #34495E;
    background: rgb(222,130,219);
    background: linear-gradient(180deg, rgb(242,183,240) 0%, rgba(241,226,241,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
